.menu-item
{
    height: 30px;
    width: 120px;
    border: 20px #666666;
    background: #3c9fbc;
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0 5px 50px #bababa;
    border-radius: 25px 5px 50px 5px;
    text-align: center;
}

.menu-item .submenu{
    height: 40px;
    width: 120px;
    background: springgreen;
    position: absolute;
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 1px;
    box-shadow: 0 5px 50px #bababa;
    border-radius: 5px 100px 50px 45px;
}
